.ChatStyle{
      background: url("https://plus.unsplash.com/premium_photo-1676009648296-227e4bdf495a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
      background-repeat: repeat;
      background-position: center;
      padding: 30px;

}

.chat_message{
      position: relative;
      padding: 10px;
      font-size: 16px;
      width: fit-content;
      border-radius: 10px;
      margin-bottom: 30px;
      background-color: rgb(254, 255, 252);

}

.chat_reciever{
      margin-left: auto;
      background-color: chartreuse;
}


.chat_timestamp{
      font-size: xx-small;
      margin-left: 10px;
}

.chat_message .MuiSvgIcon-root{
      font-size:smaller;
      color: gray;

}



